<section
    class="text-gray-600 body-font bg-[url('/images/cocattack.png')] bg-cover h-[75vh] items-center justify-center flex">
    <div id="clansSearch" class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center justify-center">

        <div class="lg:flex-grow md:w-1/2  flex flex-col   mb-16 md:mb-0  text-center ">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white ">SEARCH CLANS</h1>
            <p class="mb-1 leading-relaxed text-slate-300">Find a Clan </p>

            <form class="flex w-full  justify-center items-end" action="/clans" method="post">
                <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2 w-2/4">
                    <input type="text" id="clanTag" name="clanTag" placeholder="Enter Name or Tag"
                        class="w-full bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-indigo-200 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out placeholder:text-slate-700">
                </div>
                <button type="submit"
                    class="inline-flex text-white bg-slate-800 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Search</button>
            </form>

            <!-- <p class="text-sm mt-2 text-gray-500 mb-8 w-full">Neutra shabby chic ramps, viral fixie.</p> -->

        </div>

    </div>
</section>